@model finleyxmas.Contact

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!--<![endif]-->
    <!--[if (gte mso 9)|(IE)]><style type="text/css">
    table {border-collapse: collapse;}
    table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
    img {-ms-interpolation-mode: bicubic;}
    </style>
    <![endif]-->
    <style type="text/css">
  body {
    color: #000000;
  }
  body a {
    color: #1188e6;
    text-decoration: none;
  }
  p { margin: 0; padding: 0; }
  table[class="wrapper"] {
    width:100% !important;
    table-layout: fixed;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  img[class="max-width"] {
    max-width: 100% !important;
  }
  
    .button {
	    background-color: #0b64ad;
	    color: #fff;
   	    padding-top: 4px;
	    padding-bottom: 4px;
	    padding-left: 12px;
	    padding-right: 12px;
	    margin-top: 20px;
	    margin-bottom: 20px;
    }

  @@media screen and (max-width:480px) {
    .preheader .rightColumnContent,
    .footer .rightColumnContent {
        text-align: left !important;
    }
    .preheader .rightColumnContent div,
    .preheader .rightColumnContent span,
    .footer .rightColumnContent div,
    .footer .rightColumnContent span {
      text-align: left !important;
    }
    .preheader .rightColumnContent,
    .preheader .leftColumnContent {
      font-size: 80% !important;
      padding: 5px 0;
    }
    table[class="wrapper-mobile"] {
      width: 100% !important;
      table-layout: fixed;
    }
    img[class="max-width"] {
      height: auto !important;
    }
    a[class="bulletproof-button"] {
      display: block !important;
      width: auto !important;
      font-size: 80%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    // 2 columns
    #templateColumns{
        width:100% !important;
    }

    .templateColumnContainer{
        display:block !important;
        width:100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }
   </style>
    <style>
        body, p, div {
            font-family: arial,sans-serif;
        }
.head-graphic {
	background-color: rgba(255,236,142,1.00);
	background-image: -webkit-linear-gradient(0deg,rgba(255,182,1,1.00) 2.17%,rgba(255,255,255,0.00) 50.38%,rgba(255,182,1,1.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(255,182,1,1.00) 2.17%,rgba(255,255,255,0.00) 50.38%,rgba(255,182,1,1.00) 100%);
	background-image: -o-linear-gradient(0deg,rgba(255,182,1,1.00) 2.17%,rgba(255,255,255,0.00) 50.38%,rgba(255,182,1,1.00) 100%);
	background-image: linear-gradient(90deg,rgba(255,182,1,1.00) 2.17%,rgba(255,255,255,0.00) 50.38%,rgba(255,182,1,1.00) 100%);
	border-bottom: thin solid rgba(255,182,0,1.00);
}

.head-graphic-text {
	color: rgba(255,255,255,1.00);
	text-shadow: 1px 1px rgba(0,0,0,0.63);
	padding-top: 14px;
	padding-bottom: 14px;
    padding-left:2em;
}
.tr-body {
	background-color: rgba(255,255,255,255.00);
background-image: -webkit-linear-gradient(270deg,rgba(255,243,171,1.00) 0%,rgba(255,250,223,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,243,171,1.00) 0%,rgba(255,250,223,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,243,171,1.00) 0%,rgba(255,250,223,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,243,171,1.00) 0%,rgba(255,250,223,1.00) 100%);
	background-repeat: no-repeat;
}

.yellow {
	background-color: rgba(255,182,0,1.00);
	height: 1px;
	margin-bottom: 24px;
	margin-top: 12px;
}

    </style>

</head>
<body yahoofix="true" style="min-width: 100%; margin: 0; padding: 0; font-size: 14pxpx; font-family: arial,sans-serif; color: #000000; background-color: #FFFFFF; color: #000000;" data-attributes='%7B%22dropped%22%3Atrue%2C%22bodybackground%22%3A%22%23FFFFFF%22%2C%22bodyfontname%22%3A%22arial%2Csans-serif%22%2C%22bodytextcolor%22%3A%22%23000000%22%2C%22bodylinkcolor%22%3A%22%231188e6%22%2C%22bodyfontsize%22%3A%2214px%22%7D'>
    <center class="wrapper">
        <div class="webkit">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#FFFFFF">

                <tr>
                    <td valign="top" bgcolor="#FFFFFF" width="100%">
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td>
                            <![endif]-->
                        <table width="100%" role="content-container" class="outer" data-attributes='%7B%22dropped%22%3Atrue%2C%22containerpadding%22%3A%220%2C0%2C0%2C0%22%2C%22containerwidth%22%3A600%2C%22containerbackground%22%3A%22%23FFFFFF%22%7D' align="center" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td width="100%">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <!--[if (gte mso 9)|(IE)]>
                                                  <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                      <td>
                                                        <![endif]-->
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width:600px;" align="center">
                                                    <tr>
                                                        <td role="modules-container" style="padding: 0px 0px 0px 0px; color: #000000; text-align: left;" bgcolor="#FFFFFF" width="100%" align="left">
                                                            <table role="module" data-type="image" border="0" align="" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" class="wrapper" >
                                                                <tr>
                                                                    <td class="head-graphic" style="font-size:8px;line-height:12px;" valign="top" align="left" role="module-content">
                                                                        <!--[if mso]>
                                                                        <center>
                                                                        <table width="630" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
                                                                          <tr>
                                                                            <td width="630" valign="top">
                                                                        <![endif]-->
<div >
  <div class="container">
<h1 class="head-graphic-text">Event Registration Website</h1>

  </div>
</div>
                                                                        <!--<img class="max-width" width="630" height="" src="https://fishnet.onlinechristianservices.org/images/emailHeader.png" alt="" border="0" style="display: block; color: #000; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;  max-width: 630px !important; width: 100% !important; height: auto !important; " />-->

                                                                        <!--[if mso]>
                                                                        </td></tr></table>
                                                                        </center>
                                                                        <![endif]-->

                                                                    </td>
                                                                </tr>
                                                            </table><table class="module" role="module" data-type="wysiwyg" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
                                                                <tr><td class="module tr-body" role="module-content" style="padding:8px 8px 8px 8px;" >
<div>
@RenderBody()
<br/>
<br/>
<br/>
<p><a href="https://fishnet.onlinechristianservices.org">P.S. Have you heard about fishNet and how we are reaching more people for the kingdom of heaven?</a></p>

</div>    
                                                                </td></tr>
                                                            </table>
                                                            <table class="module" role="module" data-type="divider" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22padding%22%3A%2212%2C12%2C12%2C12%22%2C%22containerbackground%22%3A%22%23ffffff%22%2C%22linecolor%22%3A%22%23065a7f%22%2C%22height%22%3A1%7D'>
                                                                <tr>
                                                                    <td role="module-content" style="padding: 12px 12px 12px 12px;" bgcolor="#ffffff">
                                                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="1" style="font-size: 1px; line-height: 1px;">
                                                                            <tr><td bgcolor="#065a7f">&nbsp;</td></tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="module footer" role="module" data-type="footer" data-attributes='%7B%22dropped%22%3Atrue%2C%22columns%22%3A1%2C%22padding%22%3A%2210%2C5%2C10%2C5%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
                                                                <tr>
                                                                    <td style="padding: 10px 5px 10px 5px;" bgcolor="#ffffff">
                                                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                                                                            <tr role="module-content">

                                                                                <td align="center" valign="top" width="100%" height="100%" class="templateColumnContainer">
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                                                                                        <tr>
                                                                                            <td class="leftColumnContent" role="column-one" height="100%" style="height:100%;">
                                                                                                <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
                                                                                                    <tr>
                                                                                                        <td role="module-content" valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor="#ffffff">
                                                                                                            <div style="font-size:12px;line-height:150%;margin:0;text-align:center;">&copy; @DateTime.Now.Year <a href="http://onlinechristianservices.org">Online Christian Services</a></div>                                                                                                            
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                    </tr>
                                            </td>
                                    </table>
                                    <!--[if (gte mso 9)|(IE)]>
                                          </td>
                                        </td>
                                      </table>
                                    <![endif]-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </table>
            <![endif]-->
            </tr></td>
            </table>
        </div>
    </center>
</body>
</html>
