@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Nothing+You+Could+Do');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Raleway');

    .left-align {
        margin-left:48px;
        margin-right:24px;
    }
    .cover {
        align-content: center;
        margin-top:36px;
    }
    .cover-div {
        margin-top:24px;
        margin-right: 0px;
        padding:0px;
    }
    .date1 {
        color:white;
        margin-top:8px;
        margin-bottom:4px;
        font-family:  'Raleway', sans-serif;
        
    }
    .date2 {
        color:white;
        margin-top:4px;
        margin-bottom:4px;
        font-family:  'Raleway', sans-serif;

    }
    .date {
        margin-top:8px;
        margin-bottom:4px;
        color:white;
        text-align: center;
        font-family:  'Raleway', sans-serif;
    }
    .right-align {
        margin-left:24px;
        margin-right:48px;
    }
    .main-plug {
        font-family:  'Raleway', sans-serif;
        color:rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 18px;
        margin-top: 8px;
        margin-right:8px;
        margin-left:8px;
    }

.banner-txt {
    text-align: center;
}
    .button-align {
    margin-top:36px;
    margin-bottom:36px;
  }
  .btn-img {
    padding:0px;
    margin:0px;
    background:transparent;
  }
  .reg-begin {
      background:rgb(255, 226, 0);
  }
  .btn-txt {
      margin-top:12px;
      margin-bottom:12px;
      padding:12px;
      text-shadow: 2px 2px rgba(61, 61, 61, 0.178);
  }
  .reg-btn-txt {
    padding-left:48px;
    padding-right:48px;
    font-weight: 300;
}
.train-banner {
    margin-top:10%;
    padding:24px;
}
.headliner {
    text-align: center;
    color: white;
    font-family:  'Raleway', sans-serif;
}