<div fxLayout="column" fxLayout.gt-sm="row">
  <!-- left column -->
  <div fxFlex fxFlex.gt-sm="50" class="cover-div">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <!-- cover image -->
      <div fxFlex="40">
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex>
            <div fxLayout="column">
              <h1 class="mat-display-3 main-plug">Coming to Haymarket</h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="90">
                  <div hide show.gt-sm flex>
                <div fxHide fxShow.gt-sm fxLayoutAlign="center center" style="margin-bottom:48px">
                  <img src="/assets/images/title.png" width="100%" class="cover" />
                </div>
                  </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="90">
                  <div hide show.gt-sm flex>
                <div fxHide fxShow.gt-sm fxLayoutAlign="center center" style="margin-bottom:48px">
                  <img src="/assets/images/flyer.png" width="100%" class="cover" />
                </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <!-- right column -->
  <div fxFlex fxFlex.gt-sm="50" style="margin-top:48px">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <div fxFlex>
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-between stretch">
          <div fxFlex="90">
            <div fxLayout="column" fxLayoutAlign="space-between stretch">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <div fxFlex>
                  <div><h1 class="mat-display-1 headliner"><strong>Each evening there will a Christmas story 
                    for children, Christmas carols and special 
                    music by guest artists.</strong></h1></div>
                    <div fxLayout="column">
                      <div><h1 class="mat-display-3 date"><strong>Begins Friday, Nov. 30</strong></h1></div>
                       <div><h1 class="mat-display-3 date"><strong>7:15 p.m.</strong></h1></div>
                       <div><h1 class="mat-display-1 date">Series continues though Dec. 8</h1></div>
                     </div>
                </div>

              </div>
              <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-evenly start" style="margin-top:24px">
                  <div fxFlex="50">
                    <div fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center" style="margin-bottom:24px; margin-top:48px">
                      <img src="/assets/images/map.jpg" width="60%" />
                    </div>
                    <h1 class="mat-display-2 date1"><strong>Living Hope</strong></h1>
                    <h1 class="mat-display-1 date1"><strong>Community Church</strong></h1>
                    <h1 class="mat-headline date1">5235 Merchants View Square</h1>
                    <h1 class="mat-headline date1">Haymarket, Virginia</h1>
                    <h1 class="mat-title date1">(located in the Giant Shopping Center 
                      behind Minnieland off Dominion Valley Blvd)</h1>
                    </div>


                  <div fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex style="margin-bottom:72px">
                      <div fxLayoutAlign.gt-sm="start center" fxLayoutAlign="center center" style="margin-bottom:12px">
                        <img src="/assets/images/finley.jpg" width="85%" />
                      </div>
                      <h4 class="mat-subheading-1 date2"><strong>Featuring speakers:</strong></h4>
                      <h4 class="mat-subheading-1 date2"><strong>Mark and Ernestine Finley</strong></h4>
                    </div>

                    <div fxFlex>
                      <div fxLayoutAlign.gt-sm="start center" fxLayoutAlign="center center" style="margin-bottom:12px">
                        <img src="/assets/images/holland.jpg" width="85%" />
                      </div>
                      <h4 class="mat-subheading-1 date2"><strong>Featuring speakers:</strong></h4>
                      <h4 class="mat-subheading-1 date2"><strong>Chris and Debbie Holland</strong></h4>
                    </div>
                  </div>
   
                </div>


              <div fxLayout="column">
                <div fxLayoutAlign="center center" class="button-align">
                  <button mat-button class="btn-img" routerLink='register'>
                    <img src="/assets/images/button.png" width="100%"/>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>